.hackathon {
    text-align: center;
    width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 15px;
    box-sizing: border-box;
}

.hackathon__image {
    width: 100%;
}

@media screen and (max-width: $medium-screen) {
    .hackathon {
        flex: calc(100%/3);
    }
}

@media screen and (max-width: $small-screen) {
    .hackathon {
        flex: 50%;
    }
}

@media screen and (max-width: $mobile-screen) {
    .hackathon {
        flex: 100%;
    }
}