.hackathon {
    text-align: center;
    width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 15px;
    box-sizing: border-box;
}

.hackathon__background {
    background-color: $light-blue;
    border-radius: 10px;
}

.hackathon__image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.hackathon__text {
    padding-top: 15px;
    padding-bottom: 25px;
}

@media screen and (max-width: $medium-screen) {
    .hackathon {
        flex: calc(100%/3);
    }
}

@media screen and (max-width: $small-screen) {
    .hackathon {
        flex: 50%;
    }
}

@media screen and (max-width: $mobile-screen) {
    .hackathon {
        flex: 100%;
    }
}