.search {
    position: relative;

    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        margin: 20px 0px;
        border: 0;
        border-radius: 10px;
        color: $text-white;
        background: $light-blue;
        font-size: 16px;
        text-indent: 30px;
    }
    input:focus {
        outline-width: 0;
    }
    input::placeholder {
        color: white;
        opacity: 0.4;
        font-family: 'Source Sans Pro';
    }
}

.icon {
    width: 18px;
    position: absolute;
    top: 40px;
    left: 20px;
    opacity: 0.9;
}