@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    src:
        url('../fonts/SourceSansPro-Regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SourceSansPro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src:
        url('../fonts/SourceSansPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/SourceSansPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
    font-family: 'Source Sans Pro';
    background-color: $dark-blue;
    color: $text-white;
    margin: 0;
    padding: 10px 30px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro Bold';
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

@media screen and (max-width: $mobile-screen) {
    body {
        padding: 5px 15px;
    }
}