@font-face {
    
}

body {
    background-color: $dark-blue;
    color: $text-white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}