@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('ttf');
}

body {
    font-family: 'Source Sans Pro';
    background-color: $dark-blue;
    color: $text-white;
    margin: 0;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}